* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.square {
    height: 50px;
    width: 50px;
}

.change-color {
    background-color: black;
}