* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
}

.row {
    display: flex;
    width: 960px;
    flex-grow: 1;
}

.square {
    flex-grow: 1;
}

.change-color {
    background-color: black;
}